.place {
  margin: 0 auto;
  background-color: white;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas: 'img img' 'title like';
  position: relative;
}